* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    min-height: 100vh;
}